@using MoscowCamerat.HtmlHelpers

@helper IsMenuSelected(string actionName, string controllerName, string className)
{
    var conname = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    if (conname == controllerName.ToLower())
    {
        @className;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="d769d6aeff9af201" />
    @RenderSection("metatags", false)
    <title>
        @ViewBag.Title 
    </title>

    @Styles.Render("~/bundles/fontawesomecss") 

    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/mdbcss")

    @Styles.Render("~/bundles/violincss")



    @Scripts.Render("~/bundles/jqueryjs")
    @Scripts.Render("~/bundles/tetherjs")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/violinjs")

    

    @RenderSection("head", false)

    @Html.RenderStyles()
    @Html.RenderJavaScripts()

</head>
<body>

    <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
            <i class="fa fa-bars"></i>
        </button>

            

        <div class="container">

         
            <div class="collapse navbar-toggleable-xs" id="collapseEx">

                <ul class="nav navbar-nav">

                    <li class="nav-item">

                        @Html.ActionLink("MK", "Index", "Home", new { }, new { @class = "navbar-brand-cocacola navbar-toggler " + @IsMenuSelected("Index", "Home", "active") }) 
                    </li>
                    <li class="nav-item">
                      
                        @Html.ActionLink("О НАС", "Index", "Biography", new { }, new { @class = "nav-link " + @IsMenuSelected("Index", "Biography", "active") })
                    </li>
                    <li class="nav-item">

                        @Html.ActionLink("КОЛЛЕКТИВ", "Index", "Orchestra", new { }, new { @class = "nav-link " + @IsMenuSelected("Index", "Orchestra", "active") })
                    </li>
                    <li class="nav-item">
                       
                        @Html.ActionLink("АФИША", "Index", "Afisha", new { }, new { @class = "nav-link " + @IsMenuSelected("Index", "Afisha", "active") })
                    </li>
                    <li class="nav-item">

                        @Html.ActionLink("ВИДЕО", "Index", "Video", new { }, new { @class = "nav-link " + @IsMenuSelected("Index", "Video", "active") })
                    </li>
                    <li class="nav-item">

                        @Html.ActionLink("ФОТО", "Index", "Mediya", new { }, new { @class = "nav-link " + @IsMenuSelected("Index", "Mediya", "active") })
                    </li>
                    <li class="nav-item">

                        @Html.ActionLink("КОНТАКТЫ", "Index", "Contact", new { }, new { @class = "nav-link " + @IsMenuSelected("Index", "Contact", "active") })
                    </li>

                    
                </ul>

            </div>

        </div>

    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/mdbminjs")

    <script>
        $(document).ready(function(){
            
            $("#aEvents").on("click", "a", function (event) {
                
                
                event.preventDefault();
                
                
                var id  = $(this).attr('href'),
                
                
                top = $(id).offset().top;
               
                
                $('body,html').animate({scrollTop: top}, 1500);
                
            });
            
        });

    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43073964 = new Ya.Metrika({ id:43073964, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43073964" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>

