
@section head
{
    @Scripts.Render("~/bundles/photoswipejs")
    @Styles.Render("~/bundles/photoswipecss")

    <style rel="stylesheet">

        /*html,
        body,
        .view {
            height: 800px;
            background-color: rgb(76, 76, 170);
        }

        .navbar {
            background-color: transparent;
        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #1C2331;
        }

        footer.page-footer {
            background-color: #1C2331;
            margin-top: -1px;
        }

        .flex-center {
            color: #fff;
        }*/

        .view {

            background-image: url(../img/Main.jpg) !important;
            background-size: 100% auto;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;


            /*background: url("../../img/AboutUS.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
        }
    </style>
}


<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <ul class="animated fadeInUp ulOrchestra">
            <li>
                <p class="textRoboto">Камерный оркестр</p>
            </li>
            <li>
                <h1 ><span class="font-italic">МОСКОВСКАЯ</span> <span class="font-italic">КАМЕРАТА</span></h1>
            </li>

            <li>
                <div id="aEvents" class="container-fluid text-xs-center" style="height: 350px;">
                    <a class="btn-floating btn-action blue darken-4 waves-effect waves-light navbar-brand-cocacolaMin" href="#events">MK<i class="fa fa-chevron-down fa-1 navbar-brand-cocacolaMinChevronDown"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>

    <footer id="events" class="page-footer center-on-small-only">

    <div class="container text-xs-center">

        <section class="section">
            <h1 class="section-heading title">События</h1>
            <div class="row text-xs-center flex-center">

                <div class="col-lg-3 col-md-6">
                    <div class="card card-cascade wider">
                        <iframe width="100%" src="https://www.youtube.com/embed/DprlMA-7am0" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-cascade wider">
                        <iframe width="100%" src="https://www.youtube.com/embed/0cnnOZb3394" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card card-cascade wider">
                        <iframe width="100%" src="https://www.youtube.com/embed/r1WL8nOh40o" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>

                @*<div class="col-lg-3 col-md-6">
            <div id="demo-test-gallery" class="demo-gallery container-flex" data-pswp-uid="1">
                <a href="../../img/DK.jpg" data-size="960x960" data-med="../../img/DK.jpg" data-med-size="960x960" class="">
                    <img src="../../img/DKm.jpg" class="" alt="Дмитрий Коган">
                </a>
            </div>
            @Html.Partial("~/Views/PhotoSwipe/PhotoSwipePart.cshtml")


        </div>*@


            </div>

</section>

    </div>
    <br />
    <hr class="wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
    <div class="social-section">
        <ul class="ulSocial">
            <li><a class="btn-floating btn-small btn-fb waves-effect waves-light" href="https://www.facebook.com/moskamerata"><i class="fa fa-facebook"> </i></a></li>
        </ul>
    </div>

    @Html.Partial("~/Views/Shared/FooterInfo.cshtml") 

</footer>

@Scripts.Render("~/bundles/photoswipemanjs")